#frontpage_background {
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#main_menu {
	background-color: white;
	opacity: 50%;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 20vw;
	height: 100%;
}

.main_menu_button {
	border: none;
	background: none;
	text-align: left;
	font-family: monospace;
	margin: 20px;
	font-weight: bold;
	font-size: 2vw;
}

.rotate-center {
	-webkit-animation: rotate-center 0.6s ease-in-out both;
	        animation: rotate-center 0.6s ease-in-out both;
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#wrapper-div {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#budget-marker-background {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10%;
  background-color: white;
  opacity: 80%;
  font-family: monospace;
  height: 30vh;
  width: 30vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#budget-marker {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  font-weight: bold;
  font-size: 5vh
}

#placeholder {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: monospace;
  font-weight: bold;
  background-color: white;
  opacity: 50%;
  border-radius: 10%;
  padding: 10px;
}
